head
  title SSEs, Node.js, and Redis
body
  != body

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js')
  script(type='text/javascript').
    var source = new EventSource('/update-stream');

    source.addEventListener('message', function(e) {
      window.e = e;
      console.log(e);
      $('body').append('<audio controls autoplay class="audio"><source src="siren.mp3" type="audio/mpeg"></audio>');
      setTimeout(function(){ $(".audio").remove(); }, 1500);
    }, false);